.topMenu {
	width		: 100%
	margin		: 0px;
	background	: grey;
	border		: solid black 1px;
}

.topMenu > .item {
	border		: solid black 1px;
	display		: inline-block;
}

.topMenu > .item > .subItems  > * {
	display		: block;
}

.topMenu > .item > .subItems   {
	display		: none;
	position	: absolute;
	border		: solid black 1px;
	background	: lightgrey;
}

.topMenu > .item:hover {
	background	: lightgrey;
}


.topMenu > .item:hover  > .subItems {
	display		: inline-block;
	width		: 100%;
}
