<!doctype html>

<html ng-app="ihmActivity">
<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="dev/controllerIHM.css"></link>
	<script src="dev/controllerIHM.js"></script>

</head>
<body ng-controller="TActHabIHMController as T">
	<md-toolbar>
		<h2>TActHab</h2>
	</md-toolbar>
	<md-tabs md-border-bottom class="menu" md-selected="selectedTabIndex">
		<md-tab>
			<md-tab-label>Multimedia</md-tab-label>
			<md-tab-body class="bricks BrickUPnP_MediaRenderer">
				<md-card class="bricks list BrickUPnP_MediaRenderer">
					<media-player ng-repeat	= "brick in T.context.bricks | toArray:false | filter:{type:'BrickUPnP_MediaRenderer'}" 
								  brick		= "brick"
								  >
					</media-player>
				</md-card>
				<md-card bricks	= "T.context.bricks"
						 title	= "Explore media available in UPnP"
						 media-selector
						 >
				</md-card>
			</md-tab-body>
		</md-tab>
		<md-tab >
			<md-tab-label>Activities</md-tab-label>
			<md-tab-body class="activities">
				<alx-activities context="T.context" activities="T.activities" title="Les activités"></alx-activities>
			</md-tab-body>
		</md-tab>
		<md-tab>
			<md-tab-label>Bridges</md-tab-label>
			<md-tab-body class="openHab">
				<h2>OpenHab</h2>
				<open-hab></open-hab>
				<open-hab ng-repeat	= "brick in ((T.context.bricks | toArray:false) | filterBridgeOpenHAB)"
						  brick		= "brick"
						>
				</open-hab>
				<hr/>
				<h2>Fhem</h2>
				<fhem></fhem>
				<fhem	ng-repeat	= "brick in ((T.context.bricks | toArray:false) | filterBridgeFhem)"
						brick		= "brick"
						>
				</fhem>
				<hr/>
				<h2>socketBus</h2>
				<socket-bus></socket-bus>
				<hr/>
				<brick-ble-server	context		= "T.context"
									brick		= "brick"
									ng-repeat	= "brick in ((T.context.bricks | toArray:false) | filterBrickBLE_server)"
				></brick-ble-server>
			</md-tab-body>
		</md-tab>


<!-- 		
		<md-tab >
			<md-tab-label>open Hab</md-tab-label>
			<md-tab-body class="openHab">
				<open-hab ng-repeat="brick in ((T.context.bricks | toArray:false) | filterBridgeOpenHAB)"
						  brick="brick"
						>
				</open-hab>
				<open-hab></open-hab>
			</md-tab-body>
		</md-tab>
		<md-tab >
			<md-tab-label>Fhem</md-tab-label>
			<md-tab-body class="fhem">
				<fhem></fhem>
				<hr/>
				<section class="fhem bricks">
					<span class="brick" ng-repeat="brick in (T.context.bricks | toArray:false | filterBrickFhem)">
						<brick data="brick"></brick>
					</span>
				</section>
			</md-tab-body>
		</md-tab>
		<md-tab >
			<md-tab-label>BlueTooth 4 server (BLE)</md-tab-label>
			<md-tab-body class="bleServer">
				<ble-server context="T.context"></ble-server>
			</md-tab-body>
		</md-tab>
 -->		
	</md-tabs>
</body>
</html>
