instruction > section.Pnode.ActionNode {
	border			: solid black 1px;
	border-radius	: 1em;
	padding			: 0.4em;
	background		: lightblue;
	display			: inline-flex;
	flex-flow		: row nowrap;
	vertical-align	: top;
	box-shadow		: 0.2em 0.2em 0.2em 0.05em black inset;
	flex			: 0 0 auto;
}

instruction > section.Pnode.ActionNode > .action_symbol {
	flex			: 0 0 32px;
	width			: 32px;
	height			: 32px;
	vertical-align	: top;
	position		: relative;
}

instruction > section.Pnode.ActionNode > .action_description {
	flex			: 0 0 auto;
	display			: inline-flex;
	flex-flow		: column nowrap;
}

instruction > section.Pnode.ActionNode  p {
	margin			: 0px;
	padding			: 0px;
}

instruction > section.Pnode.ActionNode > .action_description > * {
	flex			: 0 0 auto;
}

instruction > section.Pnode.ActionNode .actionName {
	border-bottom	: dashed black 1px;
	background		: lightblue;
	display			: inline-flex;
}

instruction > section.Pnode.ActionNode .actionName > * {
	flex			: 0 0 auto;
}

instruction > section.Pnode.ActionNode .selector {
	background		: #B9B9FF;
	display			: inline-flex;
	white-space		: nowrap;
}

@keyframes ActionNodePresentation_droppable {
	0%				 {background	: #B9B9FF;}
	50%				 {background	: lightgreen;}
	100%			 {background: #B9B9FF;}
}

instruction > section.Pnode.ActionNode.candrop {
	animation		: ActionNodePresentation_droppable 1s ease-in-out infinite;
}

instruction > section.Pnode.ActionNode.candrop.overdrop {
	background		: lightgreen;
	animation		: initial;
}
