<!-- Case where the openHab connection is already specified -->
<md-card ng-if="$ctrl.brick">
	<md-content layout="row">
		<!-- <img class="icon fhem" src="/js/Presentations/openHab/templates/openhab-logo-square.png"></img> -->
		<md-content layout="column">
			<h4 ng-bind="$ctrl.brick.name"></h4>
			<md-content layout="row">
				<label>Fhem server at {{$ctrl.brick.config.host}}:{{$ctrl.brick.config.port}}</label>
				<label>{{$ctrl.brick.bricks.length}} devices managed</label>
				<md-button class="md-raised md-warn" ng-click="$ctrl.disconnect()" ng-show="$ctrl.brick.connected">Disconnect</md-button>
				<md-button class="md-raised md-warn" ng-click="$ctrl.dispose()" ng-hide="$ctrl.brick.connected">Dispose</md-button>
			</md-content>
		</md-content>
	</md-content>
</md-card>

<!-- Case where the we have to specify the Fhem connection -->
<!-- <md-card>
	<md-content class="description" layout="column" ng-if="!$ctrl.brick">
		<h4>Connect to a new Fhem server</h4>
		<md-content class="description" layout="row">
			<md-input-container class="md-block">
				<label>Fhem host</label>
				<input ng-model="$ctrl.config.host" type="text">
			</md-input-container>
			<md-input-container class="md-block">
				<label>Fhem port</label>
				<input ng-model="$ctrl.config.port" type="text">
			</md-input-container>
		</md-content>
		<md-button class="md-raised md-primary" ng-click="$ctrl.connect()">Connect</md-button>
	</md-content>
</md-card> -->


<md-card class="newConnection" ng-if="!$ctrl.brick">
	<md-card-title>
		<md-card-title-text>
			<span class="md-headline">Connect to Fhem</span>
			<span class="md-subhead">
				<md-input-container class="md-block host">
					<label>host</label>
					<!-- <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon> -->
					<input ng-model="$ctrl.config.host" type="text">
				</md-input-container>
				<md-input-container class="md-block port">
					<label>port</label>
					<!-- <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon> -->
					<input ng-model="$ctrl.config.port" type="text">
				</md-input-container>
			</span>
		</md-card-title-text>
		<md-card-title-media>
			<div class="md-media-lg card-media"></div>
		</md-card-title-media>
	</md-card-title>
	</md-content>
		<md-button class="md-raised md-primary" ng-click="$ctrl.connect()">Connect</md-button>
	</md-content>
</md-card>
