<md-content layout="row">
	<h3 ng-bind="title"></h3>
	<md-button ng-hide="descriptionData.enabled" ng-click="onEnable ()" >Enable </md-button>
	<md-button ng-show="descriptionData.enabled" ng-click="onDisable()">Disable</md-button>
	<md-input-container>
		<label>period</label>
		<md-select ng-model="descriptionData.period" ng-change="onPeriodChange()">
			<md-option ng-repeat="p in periods" value="{{p}}">{{p}}ms</md-option>
		</md-select>
	</md-input-container>
</md-content>

<svg>
	<g class="root">
		<polyline stroke="black" fill="none" points="-99999 0 99999 0"></polyline>
		<polyline ng-repeat 		= "data in ctrl.values" 
				  class 			= "{{data.name}}" 
				  ng-attr-points 	= "{{data.string}}" >
		</polyline>
	</g>
</svg>

