<!-- <p>{{brick | json}}</p> -->
<md-card>
	<md-card-title>
		<md-card-title-text>
			<span class="md-headline" ng-bind="ctrl.brick.name"></span>
			<span class="md-subhead">
				<md-progress-circular	md-mode="indeterminate"
										ng-show="ctrl.isConnecting"
										></md-progress-circular>
				<md-button 	class	= "md-raised md-primary" 
							ng-show	= "!ctrl.isConnecting && !ctrl.brick.isConnected"
							ng-click= "ctrl.connect()"
							>Connect</md-button>
				<md-button 	class	= "md-raised md-primary" 
							ng-show	= "!ctrl.isConnecting &&  ctrl.brick.isConnected"
							ng-click= "ctrl.disconnect()"
							>Disconnect</md-button>
			</span>
		</md-card-title-text>
	</md-card-title>
	<md-content class="graphers">
		<!-- <p>Last data: {{lastData | json}}</p> -->
	 	<md-tabs>
			<md-tab label="Btn">
				<alx-grapher title 				= "Button"
							 description-data	= "ctrl.button"
							 on-enable 			= "ctrl.enableSensor   (ctrl.button)"
							 on-disable 		= "ctrl.disableSensor  (ctrl.button)"
							 periods			= "[]"
							 >
				</alx-grapher>
			</md-tab>
			<md-tab label="Acc">
				<alx-grapher title 				= "Accelerometer"
							 description-data	= "ctrl.acc"
							 on-enable 			= "ctrl.enableSensor   (ctrl.acc)"
							 on-disable 		= "ctrl.disableSensor  (ctrl.acc)"
							 on-period-change 	= "ctrl.setPeriodSensor(ctrl.acc)"
							 periods			= "[100, 200, 300, 400, 500, 1000, 2000]"
							 >
				</alx-grapher>
			</md-tab>
			<md-tab label="Gyr">
				<alx-grapher title 				= "Gyroscope"
							 description-data	= "ctrl.gyro"
							 on-enable 			= "ctrl.enableSensor   (ctrl.gyro)"
							 on-disable 		= "ctrl.disableSensor  (ctrl.gyro)"
							 on-period-change 	= "ctrl.setPeriodSensor(ctrl.gyro)"
							 periods			= "[100, 200, 300, 400, 500, 1000, 2000]"
							 >
				</alx-grapher>
			<md-tab label="Mag">
				<alx-grapher title 				= "Magnetometer"
							 description-data	= "ctrl.magnetometer"
							 on-enable 			= "ctrl.enableSensor   (ctrl.magnetometer)"
							 on-disable 		= "ctrl.disableSensor  (ctrl.magnetometer)"
							 on-period-change 	= "ctrl.setPeriodSensor(ctrl.magnetometer)"
							 periods			= "['MWL_MW_MAG_BMM_150_PP_LOW_POWER', 'MWL_MW_MAG_BMM_150_PP_REGULAR', 'MWL_MW_MAG_BMM_150_PP_ENHANCED_REGULAR', 'MWL_MW_MAG_BMM_150_PP_HIGH_ACCURACY']"
							 >
				</alx-grapher>
			</md-tab>
			<md-tab label="Bar">
				<alx-grapher title 				= "Barometer"
							 description-data	= "ctrl.pressure"
							 on-enable 			= "ctrl.enableSensor   (ctrl.pressure)"
							 on-disable 		= "ctrl.disableSensor  (ctrl.pressure)"
							 on-period-change 	= "ctrl.setPeriodSensor(ctrl.pressure)"
							 periods			= "[0, 1, 2, 3, 4, 5, 6, 7]"
							 >
				</alx-grapher>
				<alx-grapher title 				= "Altimeter"
							 description-data	= "ctrl.altitude"
							 on-enable 			= "ctrl.enableSensor   (ctrl.altitude)"
							 on-disable 		= "ctrl.disableSensor  (ctrl.altitude)"
							 on-period-change 	= "ctrl.setPeriodSensor(ctrl.altitude)"
							 periods			= "[0, 1, 2, 3, 4, 5, 6, 7]"
							 >
				</alx-grapher>
			</md-tab>
			<md-tab label="RAW">
				<details ng-repeat="service in ctrl.brick.services">
					<summary>
						<span class="name" ng-bind="service.name"></span>
						<span class="uuid" ng-bind="service.uuid"></span>
						<span class="type" ng-bind="service.type"></span>
					</summary>
					<ul>
						<li ng-repeat="characteristic in service.characteristics">
							<details>
								<summary>
									<span class="name" ng-bind="characteristic.name"></span>
									<span class="uuid" ng-bind="characteristic.uuid"></span>
									<span class="type" ng-bind="characteristic.type"></span>
								</summary>
								<p>{{characteristic.properties | json}}</p>
								<md-content layout="column">
									<md-content layout="row">
										<md-input-container ng-show="characteristic.properties.write || characteristic.properties.writeWithoutResponse">
											<label>Send</label>
											<input ng-model="commandValue">
										</md-input-container>
										<md-button 	class	= "md-raised md-primary" 
													ng-show	= "characteristic.properties.read"  
													ng-click= "ctrl.readCharacteristic(characteristic)"
													>Read</md-button>
										<md-button 	class	= "md-raised md-primary" 
													ng-show	= "characteristic.properties.read"  
													ng-click= "ctrl.writeCharacteristic(characteristic, commandValue)"
													ng-show	= "characteristic.properties.write || characteristic.properties.writeWithoutResponse"
													>Write</md-button>
										<md-button	class	= "md-raised md-primary" 
													ng-show	= "characteristic.properties.notify"
													ng-click = "ctrl.notifyCharacteristic(characteristic)"
													>Notify</md-button>
									</md-content>
									<pre ng-bind="characteristic.stringInput"></pre>
								</md-content>
							</details>
						</li>
					</ul>
				</details>
			</md-tab>
		</md-tabs>
	</md-content>
<!-- 	<md-card-actions layout="row" layout-align="end center">
		<md-button>Action 1</md-button>
		<md-button>Action 2</md-button>
	</md-card-actions>
 --></md-card>
