<md-card>
	<md-card-title>
		<md-card-title-text>
			<span class="md-headline">{{brick.name}}</span>
			<span class="md-subhead">{{brick.type | json}}</span>
		</md-card-title-text>
		<md-card-title-media>
			<div class="md-media-sm card-media">
				<img href="/IHM/js/BLE/templates/bleSensorTag.jpg"></img>
			</div>
		</md-card-title-media>
	</md-card-title>
	<md-content>
		<md-button ng-hide="ctrl.accelerationEnabled" ng-click="ctrl.enableAccelerometer()">!Enable Accelerometer</md-button>
		<md-button ng-show="ctrl.accelerationEnabled" ng-click="ctrl.disableAccelerometer()">Disable Accelerometer</md-button>
		<label>Acceleration : {{ctrl.acceleration | json}}</label>
	<md-content>
	<md-card-actions layout="row" layout-align="end center">
		<md-button>Action 1</md-button>
		<md-button>Action 2</md-button>
	</md-card-actions>
</md-card>
