brick-ble-server > section {
	display 			: inline-flex;
	flex-flow			: row;
}

brick-ble-server > section > * {
	width 				: 384px;
}

brick-ble-server > section > .bricks {
	width 				: 640px;
}

brick-ble-server > section > section.bricks {
	overflow-y			: scroll;
    overflow-x			: hidden;
}

brick-ble-server > section > md-card .card-media {
	background-image 	: url( "/IHM/js/BLE/templates/BLE.png" );
	background-size 	: contain;
	background-repeat 	: no-repeat;
}
