<h3>
	<!-- <span>{{ctrl.title}}</span> -->
	<md-button class="md-primary md-hue-1" aria-label="Instructions" ng-click="ctrl.toggleInstructions()">
		Instructions
	</md-button>
	<span class="flex"></span>
	<md-button class="md-primary md-hue-1" aria-label="Bricks" 		 ng-click="ctrl.toggleBricks()">
		Bricks
	</md-button>
</h3>

Par ici les sections...
<section layout="row" flex>
	<!-- Instructions -->
	<md-sidenav class="md-sidenav-left md-whiteframe-z2 instructions" md-component-id="instructionsList">
		<md-content flex>
			<h4>
				<a 	href 		= "#" 
					ng-repeat 	= "type in ctrl.breadcrumbInstructions"
					ng-click 	= "ctrl.gotoInstructionsType(type)"
					> / {{type.name}}</a>
			</h4>
			<md-list class="instructionTypes">
				<md-list-item flex ng-repeat= "type in ctrl.instructionsType.types">
					<section ng-class 		= "type" 
							 ng-click 		= "ctrl.gotoInstructionsType(type)"
							 flex>
						{{type.name}}
					</section>
				</md-list-item>
				<md-list-item flex ng-repeat= "instruction in ctrl.instructionsType.instructions">
					<section alx-draggable	= "instruction"
							 alx-drag-start = "ctrl.closeInstructions()"
							 alx-drag-end 	= "ctrl.openInstructions()"
							>
						<instruction data="instruction"></instruction>
					</section>
				</md-list-item>
			</md-list>
		</md-content>
	</md-sidenav>

	<!-- Activities -->
	<section class="activities">
		<alx-activity context="ctrl.context" 
					  ng-repeat="activity in activities" activity="activity"
					  ></alx-activity>
		<alx-activity context="ctrl.context"></alx-activity>
	</section>

	<!-- Bricks -->
	<md-sidenav class="md-sidenav-right md-whiteframe-z2 bricks" md-component-id="bricksList">
		<md-content>
			<h4>
				<a 	href 		= "#" 
					ng-repeat 	= "type in ctrl.breadcrumb"
					ng-click 	= "ctrl.gotoType(type)"
					> / {{type}}</a>
			</h4>
			<!-- Specializations -->
			<section class = "specializations">
				<span ng-repeat 		= "type in ctrl.context.brickTypes[ctrl.brickTypeName].specializations"
					  alx-draggable 	= "{brickType: type}" 
					  ng-class 			= "type" 
					  alx-drag-start 	= "ctrl.closeBricks()"
					  alx-drag-end 		= "ctrl.openBricks()"
					  ng-click 			= "ctrl.gotoType(type)"
					  >
					  <brick data		= "ctrl.context.brickTypes[type].json" 
					  		 ui			= "brickType" 
					  		 brick-type	= "ctrl.context.brickTypes[type]"
					  		 ></brick>
				</span>
			</section>
			<section class = "instances">
				<section ng-repeat 		= "brickId in ctrl.context.brickTypes[ctrl.brickTypeName].instances"
						 alx-draggable 	= "ctrl.context.bricks[brickId]" 
						 ng-class 		= "ctrl.context.bricks[brickId].type" 
						 alx-drag-start = "ctrl.closeBricks()"
						 alx-drag-end 	= "ctrl.openBricks()"
						 flex>
					<brick data="ctrl.context.bricks[brickId]"></brick>
				</section>
			</section>
		</md-content>
	</md-sidenav>

</section>
