alx-activity .root {
	margin 				: 0.3em;
	word-break			: break-word;
}

alx-activity section.components {
	box-shadow			: inset 3px 3px 5px 0px #656565;
	min-height 			: 3em; 
	margin 				: 0.3em;
	transition			: box-shadow 0.5s;
}

alx-activity section.components.candrop {
	box-shadow			: inset 6px 6px 10px 0px #656565;
	transition			: box-shadow 0.5s, background-color 0.5s;
}

alx-activity section.components.candrop.overdrop {
	background-color	: lightgreen;
	transition			: background-color 0s;
}

alx-activity section.components > section {
	display 			: flex;
	flex-flow			: row;
	flex-wrap			: wrap;
	align-items 		: stretch;
}

alx-activity section.components > section > * {
	display 			: flex;
	flex-flow			: column;
	flex				: 1 1 200px;
}

alx-activity section.components > section > * > * {
	flex				: 1 1 auto;
}