<!-- {{activity | json}} -->
<md-content class="root md-whiteframe-20dp">
	<h3 ng-bind="activity.title"></h3>
	
	<section 	class				= "components"
				alx-droppable		= "draggedInfo.hasOneTypeIn(['Brick'])"
				alx-accept-feedback	= "candrop"
				alx-hover-feedback	= "overdrop"
				alx-drop-action		= "ctrl.appendBrick(draggedInfo)"
				flex 				= "50%"
				>
		<h4>Components</h4>
		<brick data="brick" ng-repeat="brick in activity.components"></brick>
	</section>

	<section class="inputs">
		<h4>Inputs</h4>
	</section>

	<section class="outputs">
		<h4>Outputs</h4>
	</section>

	<section class="mechanisms">
		<h4>Mechanisms</h4>
		<section class="program">
			<instruction data="ctrl.dataProgram"></instruction>
		</section>
	</section>

</md-content>

<!-- 
<md-card class="activity"
		 alx-droppable		= ".Brick"
		 alx-accept-feedback= "acceptDrop"
		 alx-hover-feedback	= "canDrop"
		 >
	<md-card-content>
		<h2 ng-bind="activity.name"></h2>
		<p ng-bind="activity.description"></p>
	</md-card-content>
	<md-card-content class="bricks">
		<h2>Bricks</h2>
		<section>
			<mini-brick data="brick" ng-repeat="brick in activity.context.bricks">
			</mini-brick>
		</section>
	</md-card-content>
</md-card>
 -->