div.Pnode.ActionNodePresentation {
	border			: solid black 1px;
	border-radius	: 1em;
	padding			: 0.4em;
	background		: lightblue;
	display			: inline-flex;
	flex-flow		: row nowrap;
	vertical-align	: top;
	box-shadow		: 0.2em 0.2em 0.2em 0.05em black inset;
	flex			: 0 0 auto;
}

.ActionNodePresentation > .action_symbol {
	flex			: 0 0 32px;
	width			: 32px;
	height			: 32px;
	vertical-align	: top;
	position		: relative;
}

.ActionNodePresentation > .action_description {
	flex			: 0 0 auto;
	display			: inline-flex;
	flex-flow		: column nowrap;
}

.ActionNodePresentation  p {
	margin			: 0px;
	padding			: 0px;
}

.ActionNodePresentation > .action_description > * {
	flex			: 0 0 auto;
}

.ActionNodePresentation .actionName {
	border-bottom	: dashed black 1px;
	background		: lightblue;
	display			: inline-flex;
}

.ActionNodePresentation .actionName > * {
	flex			: 0 0 auto;
}

.ActionNodePresentation .selector {
	background		: #B9B9FF;
	display			: inline-flex;
	white-space		: nowrap;
}

@keyframes ActionNodePresentation_droppable {
	0%				 {background	: #B9B9FF;}
	50%				   {transform		: scale(1.2);
					   background	: lightgreen;
					  }
	100%			   {background: #B9B9FF;}
}

.ActionNodePresentation .selector.possible2drop {
	animation		: ActionNodePresentation_droppable 1s ease-in-out infinite;
}

.ActionNodePresentation .selector.possible2drop.ready2drop {
	transform		: scale(1.2);
	background		: lightgreen;
	animation		: initial;
}
