.PnodeNChildPresentation {
	background			: none;
	display				: inline-flex;
	flex-flow			: row nowrap;
}

.PnodeNChildPresentation > .content {
	flex				: 0 0 auto;
	display				: inline-flex;
	flex-flow			: row  nowrap;
}

.PnodeNChildPresentation > .content > .child {
	flex				: 0 0 auto;
	display				: inline-flex;
	flex-flow			: row nowrap;
}

.PnodeNChildPresentation > .content > .child:nth-last-child(1) {
	flex				: 0 0 auto;
}

.PnodeNChildPresentation > .content > .child > .separator.suffix {
	display				: none;
}

.PnodeNChildPresentation > .content > .child > .separator  {
	position			: relative;
	width				: 11px;
	height				: 15px;
	display				: inline-flex;
	flex-flow			: column;
	align-self			: center;
	background			: lightblue;
	border-top			: solid black 1px;
	border-bottom		: solid black 1px;
	flex				: 0 0 11px;
}

.PnodeNChildPresentation > .content > .child > .separator .top {
	border-top			: solid black 1px;
	box-shadow			: 0 0.2em 0.2em 0.05em black inset;
	width				: 12px;
	height				: 0.25em;
	/*transform			: scale(1.2,1) translate(1.5px);*/
	/*background			: linear-gradient(to bottom, #000000 0%,lightblue 100%);*/
	position			: absolute;
	left				: -1px;
	flex				: 0 0 5px;
}

.PnodeNChildPresentation > .content > .child > .separator .middle {
	flex				: 0 1 15px;
	width				: 23px;
	height				: 10px;
	/*transform			: scale(1.4,1) translate(2.5px);*/
	background			: lightblue;
	position			: absolute;
	left				: -2px;
	top					: 5px;
}

.PnodeNChildPresentation > .content > .child > .separator .bottom {
	flex				: 0 0 auto;
}

.PnodeNChildPresentation > .content > .child > .container  {
	flex				: 0 0 auto;
	display				: inline-flex;
}

.PnodeNChildPresentation > .content > .child  > .container > .lastOne.Pnode.ActionNodePresentation {
	flex				: 1 0 3em;
	width				: 3em;
	display				: inline-flex;
	border-radius		: 0px;
	padding-left		: 0.5em;
}

.PnodeNChildPresentation.ParallelNodePresentation > .content > .child {
	margin-bottom		: 10px;
}


.PnodeNChildPresentation.ParallelNodePresentation > .prefix, 
.PnodeNChildPresentation.ParallelNodePresentation > .suffix {
	background			: lightblue;
	box-shadow			: 0.2em 0.2em 0.2em 0.05em black inset;
    border				: solid black 1px;
    /*margin-left			: 0.5em;*/
    border-radius		: 10px;
	width				: 20px;
	flex				: 0 0 20px;
}

.PnodeNChildPresentation.ParallelNodePresentation > .suffix {
    margin-left			: 0;
}

.PnodeNChildPresentation.ParallelNodePresentation > .content {
	flex-flow			: column nowrap;
	flex				: 0 0 auto;
}

.PnodeNChildPresentation.ParallelNodePresentation > .content > .child > .separator.suffix {
	display				: inline-flex;
	flex				: 1 1 13px;
	width				: 13px;
}

.PnodeNChildPresentation.ParallelNodePresentation > .content > .child > .separator.suffix .top {
	width				: auto;
	position			: static;
	background			: none;
}

.PnodeNChildPresentation.ParallelNodePresentation > .content > .child > .separator.suffix .middle {
	width				: auto;
	position			: relative;
	display				: inline-flex;
	flex-flow			: row;
	background			: none;
	left				: 0;
	top					: 0;
}

.PnodeNChildPresentation.ParallelNodePresentation > .content > .child > .separator.suffix .middle > .left {
	background			: lightblue;
	position			: relative;
	flex				: 0 0 3px;
	left				: -2px;
}

.PnodeNChildPresentation.ParallelNodePresentation > .content > .child > .separator.suffix .middle > .right {
	background			: lightblue;
	position			: relative;
	flex				: 1 1 10px;
	left				: 9px;
}

.PnodeNChildPresentation.ParallelNodePresentation > .content > .child > .separator.suffix .bottom {
	width				: auto;
	position			: static;
}


