@keyframes NodePresentation_droppable {
	0%				 {background	: #B9B9FF;}
	50%				   {transform		: scale(1.2);
					   background	: lightgreen;
					 }
	100%			   {background: #B9B9FF;}
}

.eventDrop.possible2drop {
	animation		: NodePresentation_droppable 1s ease-in-out infinite;
}

.eventDrop.possible2drop.ready2drop {
	transform		: scale(1.2);
	background		: lightgreen;
	animation		: initial;
}
