div.Pnode.Pselector_variable {
	display			: inline-block;
	margin-left		: 0.1em;
	margin-right	: 0.1em;
	padding-left	: 0.2em;
	padding-right	: 0.2em;
	background		: white;
	border			: solid black 1px;
	border-radius	: 3px;
}
