<section ng-class 				= "ctrl.type"
		 alx-droppable			= "Pnode.hasOneType(draggedInfo, ['ActionNode', 'ControlFlow'])"
		 alx-accept-feedback	= "candrop"
		 alx-hover-feedback		= "overdrop"
		 alx-drop-action		= "ctrl.appendChild(draggedInfo)"
		>
	<div class="prefix frameStructure"></div>
	<div class="content">
		<div class 		= "child"
			 ng-repeat	= "instruction in ctrl.instruction.children track by $index"
			>
			<div class="separator frameStructure">
				<div class="top"></div>
				<div class="middle"></div>
				<div class="bottom"></div>
			</div>
			<div class="container">
				<instruction data="instruction"></instruction>
			</div>
			<div class="separator suffix frameStructure">
				<div class="top"></div>
				<div class="middle">
					<div class="left"></div><div class="right"></div>
				</div>
				<div class="bottom"></div>
			</div>
		</div>
	<!-- <div class="content">
		<div class="lastOne Pnode ActionNodePresentation">Drop node</div>
	</div> -->
	</div>
	<div class="suffix frameStructure"></div>
</section>

