<section ng-class="ctrl.type">
	<div class="arrow">
		<div class="eventSymbol"></div>
		<div class="defwhen">
			<div class="eventDrop">
				<div class="ImplicitVariable">
					Let's call the event source <div class="variableName Pnode Pselector_variable">brick</div>
				</div>
				<div class="event"
					 alx-droppable			= "ctrl.hasOneType(draggedInfo, ['EventNode'])"
					 alx-accept-feedback	= "candrop"
					 alx-hover-feedback		= "overdrop"
					 alx-drop-action		= "Pnode.appendEvent(draggedInfo)"
					>
					<p ng-hide="ctrl.instruction.childEvent">Drop EVENT here</p>
					<div ng-if="ctrl.instruction.childEvent">
						<instruction data="ctrl.instruction.childEvent"></instruction>
					</div>
				</div>
			</div>
			<img src="/js/Presentations/HTML_templates/implySymbol.svg"></img>
			<div class="instructions"
				 alx-droppable			= "Pnode.hasOneType(draggedInfo, ['ActionNode', 'ControlFlow'])"
				 alx-accept-feedback	= "candrop"
				 alx-hover-feedback		= "overdrop"
				 alx-drop-action		= "ctrl.appendInstruction(draggedInfo)"
				>
				<p ng-hide="ctrl.instruction.childReaction">Drop REACTION here</p>
				<div ng-if="ctrl.instruction.childReaction">
					<instruction data="ctrl.instruction.childReaction"></instruction>
				</div>
			</div>
		</div>
	</div>
</section>
