<md-card alx-droppable			= "draggedInfo.draggedData.serverId && draggedInfo.draggedData.mediaId"
		 alx-accept-feedback	= "acceptDrop"
		 alx-hover-feedback		= "droppable"
		 alx-drop-action		= "ctrl.dropMedia(event, draggedInfo)"
		 class					= "Brick UPnP mediaPlayer"
		>
	<md-card-content>
		<img ng-src		= "{{ctrl.brick.iconURL}}" 
			 class		= "md-card-image iconURL" 
			 alt		= "{{ctrl.brick.iconURL}}"*
			 />
		{{ctrl.brick.name}}
	</md-card-content>
	<md-card-footer>
		<!-- Commands here -->
		<md-button class="play" ng-click="ctrl.Play()" ng-show="ctrl.playState !== 'PLAYING'">
			<md-icon md-svg-src="./images/play.svg"></md-icon>
			Play
		</md-button>
		<md-button class="pause" ng-click="ctrl.Pause()" ng-show="ctrl.playState === 'PLAYING'">
			<md-icon md-svg-src="./images/pause.svg"></md-icon>
			Pause
		</md-button>
		<md-button class="stop" ng-click="ctrl.Stop()" ng-click="ctrl.Pause()" >
			<md-icon md-svg-src="./images/stop.svg"></md-icon>
			Stop
		</md-button>
		<md-slider	ng-model="ctrl.volume" 
					ng-mouseup="ctrl.setVolume(ctrl.volume)"
					min="0" max="100" aria-label="volume">
		</md-slider>
		<!-- <md-slider aria-label="volume"></md-slider>
		<input type="number" ng-model="ctrl.volume"></input><span ng-bind="ctrl.volume"></span> -->
	</md-card-footer>

</md-card>