socket-bus img.icon {
	width				: 75px;
	height				: 75px;
}

socket-bus h4 {
    margin-top			: 0.5em;
    margin-bottom		: 0.75em;
}


socket-bus {
	display 			: inline-block;
	width 				: 512px;
}
socket-bus md-card.newConnection .card-media {
	background-image 	: url( "/IHM/images/icons/fhem.png" );
	background-size 	: contain;
	background-repeat 	: no-repeat;
}

socket-bus md-card.newConnection .md-subhead {
	display 			: flex;
	flex-flow 			: row;  
}

socket-bus md-card.newConnection .md-subhead > md-input-container.host {
	flex 				: 1 1 auto;
}

socket-bus md-card.newConnection .md-subhead > md-input-container.port {
	flex 				: 0 1 50px;
}

