<md-card class="">
	<md-card-title>
		<md-card-title-text>
			<span class="md-headline">Connect to socketBus</span>
			<span class="md-subhead">
				<md-input-container class="md-block host">
					<label>host</label>
					<input ng-model="$ctrl.config.host" type="text">
				</md-input-container>
				<md-input-container class="md-block login">
					<label>Friendly name</label>
					<input ng-model="$ctrl.config.friendlyName" type="text">
				</md-input-container>
			</span>
		</md-card-title-text>
		<md-card-title-media>
			<div class="md-media-lg card-media"></div>
		</md-card-title-media>
	</md-card-title>
	<md-content>
		<md-content class="logPass">
			<md-input-container class="login">
				<label>login</label>
				<input ng-model="$ctrl.config.login" type="text">
			</md-input-container>
			<md-input-container class="pass">
				<label>pass</label>
				<input ng-model="$ctrl.config.pass" type="text">
			</md-input-container>
		</md-content>
		<md-button ng-hide="$ctrl.connected" class="md-raised md-primary" ng-click="$ctrl.connect()"	>Connect	</md-button>
		<md-button ng-show="$ctrl.connected" class="md-raised md-primary" ng-click="$ctrl.disconnect()"	>Disconnect	</md-button>
		<md-button ng-show="$ctrl.connected" class="md-raised md-primary" ng-click="$ctrl.ping()"		>Ping		</md-button>
	</md-content>
</md-card>

<md-list>
	<md-list-item class="md-3-line" ng-repeat="log in $ctrl.logs">
		{{log | json}}
	</md-list-item>
</md-list>
