<section ng-class="ctrl.brick.type">
	<span class="name" ng-bind="ctrl.brick.name"></span>
	<img class="iconURL" ng-src="{{ctrl.brick.iconURL}}"></img>
</section>

<!-- 
<md-card ng-class="ctrl.brick.type">
	<md-card-title>
		<md-card-title-text>
			ERF
			<span class="name" ng-bind="ctrl.brick.name"></span>
		</md-card-title-text>
		<md-card-title-media>
			<div class="md-media-sm card-media">
				<img ng-src="{{ctrl.brick.iconURL}}"></img>
			</div>
		</md-card-title-media>
	</md-card-title>
</md-card>
 -->